.grid-cell-total {
  width: 100px;
  height: 100px;
  color: white;
  background-color: rgb(237, 126, 15);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
}